**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules

# Specific patterns to ignore
data-node
meili_data*
librechat*
Dockerfile*
docs

LibreChat/data-node
LibreChat/logs
LibreChat/uploads
LibreChat/images

# Ignore all hidden files
.*
